<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles3.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Syncopate&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>

    <title>Artisan Alley</title>
  </head>
  <body>
    <header class="header">
      <h2>
        <span class="logo-1">A</span><span class="logo-2">RTISAN ALLEY</span>
      </h2>
      <h3>ABOUT</h3>
    </header>

    <div class="product-desc-container">
      <div class="image-container-details">
        <div class="product-details">
          <span class="span-1"
            ><%= product.name %><br /><br />RS <%= product.price %><br /><br /><br />BARGAIN<br /><br
          /></span>
          <span class="span-2"
            >( Want to Bargain? )<br />Just by clicking, you can<br />generate a
            request to the seller</span
          >

          <div class="bargain-container">
            <div class="bargain-input">
              <span class="price-label">â‚¹</span>
              <input
                type="number"
                value="<%= product.price %>"
                id="price-input"
              />
            </div>
            <div class="bargain-btn-container">
              <button class="bargain-btn minus-btn">-</button>
              <button class="bargain-btn plus-btn">+</button>
            </div>
          </div>

          <ul class="product-actions-list">
            <li onclick="showNotification('ðŸ‘ðŸ» Bargain requested generated ')">
              BARGAIN
            </li>
            <li onclick="showNotification('â¤ï¸ Added to Wishlist')">
              ADD TO WISHLIST
            </li>
            <li onclick="showNotification('ðŸ›’ Added to Cart')">ADD TO CART</li>
          </ul>
        </div>

        <div class="image-container">
          <img
            class="product-image-2"
            src="<%= product.image %>"
            alt="this is image"
          />
        </div>
      </div>

      <div class="description-product">
        <p><%= product.desc %></p>
      </div>
    </div>

    <h1 class="similar-items">SIMILAR ITEMS</h1>
    <div class="similar-items-grid">
      <div class="item">
        <img class="si-images" src="/images_project/formalsuit.webp" alt="" />
      </div>
      <div class="item">
        <img class="si-images" src="/images_project/jewellery.webp" alt="" />
      </div>
      <div class="item">
        <img class="si-images" src="/images_project/lamps.webp" alt="" />
      </div>
    </div>

    <!-- <div class="pink-section"></div> -->

    <script>
      function showNotification(message) {
        Swal.fire({
          icon: "success",
          text: message,
          position: "top-right",
          showConfirmButton: false,
          timer: 3000,
        });
      }

      const priceInput = document.querySelector("#price-input");
      const minusBtn = document.querySelector(".minus-btn");
      const plusBtn = document.querySelector(".plus-btn");

      minusBtn.addEventListener("click", () => {
        if (parseInt(priceInput.value) >= 50) {
          priceInput.value = parseInt(priceInput.value) - 50;
        }
      });

      plusBtn.addEventListener("click", () => {
        priceInput.value = parseInt(priceInput.value) + 50;
      });
    </script>
  </body>
</html>
